{% extends 'painel.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Conteudo</h1>
    </div>
    <div class="panel panel-default formulario">
        <div class="panel-heading">Cadastrando Conteudo</div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Salvar" class="btn btn-primary" />
        {{ form_end(form) }}
    </div>

    <ul class="acoes">
        <li>
            <a href="{{ path('painel_conteudo_index') }}" class="btn btn-primary">Voltar</a>
        </li>
    </ul>
{% endblock %}
